body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

main {
    max-width: 100vw;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 10vh;
    margin: 0vh 2vw 2vh 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section {
    min-height: 90vh;
    margin: 0 2vw 0 2vw;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    border-radius: 4px;
    width: 70vw;
    background-color: lightgoldenrodyellow;
}

label {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

input {
    margin-bottom: 1vh;
    border-radius: 3px;
    min-width: 12vw;
    border: 1px solid gray;
}

select{
    border-radius: 3px;
}

#celdaSelect{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

textarea{
    min-height: 8vh;
    min-width: 17vw;
    margin-bottom: 0.5vh;
    border-radius: 3px;
}

button{
    width: 6vw;
    height: 3vh;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
    transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
    font-weight: normal;
}

table{
    margin-bottom: 4vh;
}

button:hover{
    background-color: rgb(152, 104, 197);
    color: black;
    font-weight: bold;
}